:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

*{
  background: #e7f1fb;
  margin: 10px;
}

.container
{
  width: 100%;
  height: 90vh;
  background-color: #e7f1fb;
  display: flex;
  justify-content: space-between;
}

.people 
{
  background-color: #181818;
  border-radius: 15px;
  

}
.todos
{
  background-color: #e7f1fb;
  overflow-y: scroll;
  /* display: flex;
  align-items:center;
  flex-direction: column; */
  
}
.heading
{
  background-color: #181818;
  color: #fff;
  font-weight: 700;
  padding: 10px;
  text-align: center;
  border-bottom: #cccccc42 solid 1px;
}

.accounts
{
  background-color: #181818;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  border-bottom: 1px solid #cccccc10;
  cursor: pointer;
}
.accounts img
{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.detail{
  background-color: #181818;
  padding: 10px;
}
.detail div:nth-child(1)
{
  background: #181818;
  color: #fff;
  font-weight: 600;
} 
.detail div:nth-child(2)
{
  background: #181818;
  color: #ccc;
  font-weight: 400;
} 

.todo
{

  background-color: #181818;
  height: 100px;
  width: 900px;
  padding: 10px;
  color: #ccc;
  border-radius: 15px;
}
.todoHead
{
  background-color: #181818;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  padding-bottom: 10px;
  border-bottom: #49484823 1px solid;
}
.todoContent
{
  background-color: #181818;
  text-align: center;
  font-weight: 500;

}

.show
{
  background-color: #181818;
}

.ava
{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}



.input-container {
  display: flex;
  align-items: center;
  width: 300px;
}

.input-field {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
}

.add-button {
  padding: 10px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.makeInline
{
  display: flex;
  
}